/* Styles.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

*{
    box-sizing: border-box;
}

.Logo-css {
    display: flex;
    width: 70px;
    height: 70px;
    background: gray;.image-container {
    margin-top: 60px; 
    text-align: center; 
}

.Inicio {
    padding-top: 20px; 
}

.Content {
    padding: 20px;
    text-align: center;
}
.image-container {
    margin-top: 6cqh; 
    text-align: center; 
}


.Content {
    padding: 20px;
    text-align: center;
}
    border-radius: 50%;
    margin-right: 10px;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
}


.NexusEvents {
    margin: 0;
    display: flex;
    color: #DAA520;
    font-size: 1.7rem;
}

.Nav-links-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

.Nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.Nav-links li {
    margin-left: 20px;
}

.Nav-links a {
    color: #DAA520;
    text-decoration: none;
    position: relative;
}

.Nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #DAA520;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.Nav-links a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.Content {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center; 
    font-family: 'Playfair Display', serif;
}

.Content h3{
    font-size: 50px;
}

.Content-2 {
    position: relative;
    top: -20px;
    color: #DAA520;
}

.image-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;
    text-align: center;
    top: 80px;
}

.below-navbar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 30px;
}

.hero-btn:hover {
    border: 1px solid #DAA520;
    background: #DAA520;
    transition: 1s;
}

/* Nosotros contenido */
.Sobre {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.Sobre h1 {
    margin-top: 80px;;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.Sobre p {
    margin: 50px 70px;
    font-size: 1rem;
    color: #333333;
    line-height: 1.6;
    text-align: center;
}

.Decoracion-nosotros {
        width: 100%;
        height: 3px;
        background-color: #DAA520;
        margin-top: 10px;
        margin-bottom: 10px;
}

.Card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.Card {
    width: 325px;
    height: 350px;
    background-color: #F7E7CE;
    border-radius: 35px;
    overflow: hidden;
    margin: -30px 20px;

}

.Card-content {
    padding: 20px;
    color: white;
}

.Card-content h3{
    font-size: 2.0rem;
    color: black;
}

.Card-content p {
    color: white;
}

/* Cuadro datos de la empresa */

.Cuadro-container {
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Cuadro-datosempresa {
    width: 100%;
    height: 200px;
    background-color: #F0C64E;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Cuadro-contenido {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Cuadro-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    position: relative;
}

.Cuadro-item::after {
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 60%;
    background-color: white;
}

.Cuadro-item:last-child::after {
    content: none;
}

.Cuadro-item h2,
.Cuadro-item h3 {
    margin: 0;
}

.Cuadro-item h2 {
    font-size: 3.0rem;
    margin-bottom: 10px;
}

.Cuadro-item h3 {
    margin-top: 10px;
}