/* Styles.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

.Logo-css {
    display: flex;
    width: 70px;
    height: 70px;
    background: gray;.image-container {
    margin-top: 60px; /* Height of the navbar */
    text-align: center; /* Center the image horizontally */
}

.Inicio {
    padding-top: 20px; /* Additional spacing if needed */
}

.Content {
    padding: 20px;
    text-align: center;
}
.image-container {
    margin-top: 6cqh; /* Height of the navbar */
    text-align: center; /* Center the image horizontally */
}


.Content {
    padding: 20px;
    text-align: center;
}
    border-radius: 50%;
    margin-right: 10px;
}

.Navbar {
    display: flex;
    justify-content: space-between;
    /* Espacia los elementos de manera equitativa */
    align-items: center;
    width: 100%;
    height: 80px;
    /* Altura del navbar */
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1000;
    /* Asegura que el navbar esté por encima de otros elementos */
}


.NexusEvents {
    margin: 0;
    display: flex;
    color: #DAA520;
    font-size: 1.7rem;
}

.Nav-links-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
}

.Nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.Nav-links li {
    margin-left: 20px;
}

.Nav-links a {
    color: #DAA520;
    text-decoration: none;
    position: relative;
    /* Necesario para la pseudo-clase ::after */
}

.Nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    /* Ajusta según necesites */
    width: 100%;
    height: 2px;
    /* Ajusta el grosor de la línea */
    background-color: #DAA520;
    /* Color de la línea */
    transform: translateX(-50%) scaleX(0);
    /* Inicia desde el centro con escala 0 */
    transform-origin: center;
    /* Origina la transformación desde el centro */
    transition: transform 0.3s ease;
    /* Duración de la animación */
}

.Nav-links a:hover::after {
    transform: translateX(-50%) scaleX(1);
    /* Escala a tamaño completo al hacer hover */
}

.Content {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center; /* Ensure text is centered */
    font-family: 'Playfair Display', serif;
}

.Content h3{
    font-size: 50px;
}

.Content-2 {
    position: relative;
    top: -20px;
    color: #DAA520;
}

.image-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    /* Full height minus the navbar height */
    overflow: hidden;
    /* Ensures no scrollbars */
    text-align: center;
    /* Center the image horizontally */
    top: 80px;
    /* Pushes the container down below the navbar */
}

.below-navbar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the entire area without distorting the image */
}

.image-overlay {
    position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        /* Black overlay with 40% opacity */
        z-index: 1;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    top: 30px;
}

.hero-btn:hover {
    border: 1px solid #DAA520;
    background: #DAA520;
    transition: 1s;
}